
body{
    width: auto;
    max-width: 1024px;
    margin: 0 auto;
    border-left: solid 1px #843360;
    border-right: solid 1px #843360;
    background-color: #d9d9d9;
}

header{
    height: 100px;
    background-color: whitesmoke ;
    border-bottom: solid 4px #f1bd1a;
    display: flex;
    justify-content: space-between;
    position: relative;
}

h1{
    margin: 0;
}

nav{
    position: absolute;
    bottom: 0;
    right: 10px;
}

nav ul{
    display: flex;
    margin-bottom: -4px;
}

nav ul li{
    height: 30px;
    width: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 3px #f1bd1a;
    text-align: center;
    list-style: none;
    margin-right: 10px;
}

    nav ul li:hover {
        background-color: #f1bd1a;
        color: #843360;
    }

nav ul li a{
    text-decoration: none;
    font-family: sans-serif;
    vertical-align: sub;
    color: #843360;
}

nav ul li a:hover{
    color:#843360
}

header img{
    height: 100px;
}

section{
    background-color: whitesmoke;
}

/*------------------------------------*/

.mainSection{
    position:relative;
    width: auto;
    height: 200px;
    border-top: 1px solid #843360;
    border-bottom: 1px solid #843360;
    background-image: url(img/background1.png);
    background-size: cover;
    overflow: hidden;
}

.mainSection:hover .mainSectionTitre{
    opacity:1;
    width: 450px;
    height: 200px;
    display: inline-block;
    background: #843360;    
    transform: skewX(-10deg);
}

.mainSectionTitre {
    opacity:1;
    position: absolute;
    bottom: 0px;
    right: 0;
    transition: 1s;
    width: 100px;
    height: 200px;
    display: inline-block;
    background: #843360;  
    transform: skew(-10deg);
    margin-right: -20px;
}

h2{
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 25%;
    font-family: sans-serif;
    text-align: right;
    color: #f1bd1a;
    text-shadow: 1px 1px 2px black;
}

/*------------------------------------*/

footer{
    height: 50px;
    background-color: #843360;
    border-top: solid 4px #f1bd1a;
    text-align: center;
    color: #f1bd1a;
    vertical-align:top;
    font-size:10px;
    padding: auto;
    font-variant: small-caps;
    font-family: sans-serif;
}