
body{
    width: auto;
    max-width: 1024px;
    margin: 0 auto;
    border-left: solid 1px #0069A4;
    border-right: solid 1px #0069A4;
    background-color: #d9d9d9;
}

header{
    height: 100px;
    background-color: #0069A4 ;
    border-bottom: solid 4px #f1bd1a;
    display: flex;
    justify-content: space-between;
    position: relative;
}

h1{
    margin: 0;
}

nav{
    position: absolute;
    bottom: 0;
    right: 10px;
}

nav ul{
    display: flex;
    margin-bottom: -4px;
}

nav ul a li{
    height: 30px;
    width: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 3px #f1bd1a;
    text-align: center;
    list-style: none;
    margin-right: 10px;
    color: #f1bd1a;
}

    nav ul a li:hover {
        background-color: #f1bd1a;
        color: #0069A4;
    }

nav ul a{
    text-decoration: none;
    font-family: sans-serif;
    color: #0069A4;
}

nav ul a li{
    padding-top: 5px;
}

header img{
    height: 100px;
}

section{
    background-color: whitesmoke;
}

/*------------------------------------*/
section{
    padding-top: 1em;
}

.mainSection{
    position:relative;
    width: auto;
    height: 200px;
    border-top: 1px solid #0069A4;
    border-bottom: 1px solid #0069A4;
    background-size: cover;
    overflow: hidden;
}

#aaa{
    background-image: url(img/background1.png);
}

#bbb{
    background-image: url(img/background2.png);
}

.mainSection:hover .mainSectionTitre{
    opacity:1;
    width: 450px;
    height: 200px;
    display: inline-block;
    background: #0069A4;    
    transform: skewX(-10deg);
}

.mainSectionTitre {
    opacity:1;
    position: absolute;
    bottom: 0px;
    right: 0;
    transition: 0.5s;
    width: 100px;
    height: 200px;
    display: inline-block;
    background: #0069A4;  
    transform: skew(-10deg);
    margin-right: -20px;
}

h2{
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 25%;
    font-family: sans-serif;
    text-align: right;
    color: #843360;
    margin: 40px auto;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3);
}

/*------------------------------------*/

footer{
    height: 50px;
    background-color: #0069A4;
    border-top: solid 4px #f1bd1a;
    text-align: center;
    color: #f1bd1a;
    vertical-align:top;
    font-size:10px;
    padding: auto;
    font-variant: small-caps;
    font-family: sans-serif;
}

/*------------------------------------------------------------------*/

